blockquote,
dd,
dir,
figure,
menu,
ol,
ul {
	padding-inline: var(--space-s, 1em);
}

nav,
header,
main,
footer,
section,
article,
details {
	margin-block: var(--space-s, 1em);
}

main {
	padding-block: var(--space-s, 1em);
}

table {
	border-collapse: collapse;
	inline-size: 100%;
}

th,
td {
	border: thin solid var(--CanvasText, CanvasText);
	padding: var(--space-2xs, 0.5em);
}

code,
kbd,
pre,
samp {
	border: thin solid var(--ButtonBorder, ButtonBorder);
}

pre {
	overflow: auto;
	padding-block: var(--space-3xs, 0.25em);
	padding-inline: var(--space-2xs, 0.5em);
}

code,
kbd,
samp {
	padding-block: var(--space-4xs, 0.125em);
	padding-inline: var(--space-3xs, 0.25em);
}

pre :is(code, kbd, samp) {
	border: none;
	padding: 0;
}

pre code {
	hyphens: none;
	tab-size: 4;
	white-space: pre;
}

p:empty {
	display: none;
}
